<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
      Welcome {{ user_name }}<br>
    <a href="{{ url }}">{{ url_linktext }}</a>
    <hr>
    {% for guestbook in guestbooks %}
      <img src="http://graph.facebook.com/{{ guestbook.user.id }}/picture?type=square">
      {% if guestbook.user %}
        <b>{{ guestbook.user.name }}</b> wrote:
      {% else %}
      An <b>anonymous</b> person wrote:
      {% endif %}
      <blockquote>{{ guestbook.message|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="message" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>


  </body>
</html>
